@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans;
  }
}

@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

.bounce2 {
  animation: bounce2 2.5s ease infinite;
  z-index: 9999;
}
@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-15px);
  }
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

@supports (-webkit-touch-callout: none) {
  @media (max-width: 479px) {
    .section-video-child {
      max-height: 45vh;
    }
  }
}

@media (min-width: 479px) {
  .section-video-parent,
  .hero-section-vid-d,
  .hero-section-vid-m {
    clip-path: inset(0 0 0 0);
  }
}

.section-text {
  z-index: 1;
  @apply flex h-0
  flex-col
  px-3 py-6 text-gray-50 md:h-screen md:w-1/2 md:justify-center md:px-12 md:py-24;
}

.section-paragraph {
  @apply pt-2 text-justify text-sm font-normal xs:text-base md:text-2xl;
}

.section-video-parent {
  max-height: 50%;
  @apply w-full md:h-screen md:max-h-screen md:w-1/2;
}

.section-video-child {
  top: 0;
  z-index: -999;
  width: inherit;
  @apply object-cover md:fixed md:min-h-full;
}

.hero-text-gradient {
  @apply bg-gradient-to-r from-brandLightPink-200 via-brandDarkPurple-200 to-blue-300
  bg-clip-text p-1
  text-4xl text-transparent 2xl:p-2;
}

.hero-cta {
  @apply mt-5 flex w-full items-center
  justify-center rounded-md border border-transparent
  bg-black px-8 py-2 text-xl font-medium text-white
  no-underline transition ease-linear hover:scale-110
  hover:bg-brandDarkPink-600 md:py-4 md:px-10 md:text-xl md:leading-6;
}

.hero-section {
  @apply absolute z-30 flex h-screen w-full flex-row justify-center place-self-center
  text-center md:content-center xl:text-4xl;
}

.hero-section-vid-m {
  @apply h-screen w-1/2;
}

.hero-section-vid-d {
  @apply h-screen w-1/2 md:h-1/2 md:w-screen;
}

.hero-video-element {
  top: 0;
  z-index: -999;
  @apply h-screen object-cover md:fixed md:min-h-full xl:w-[inherit];
}

.hero-section-bg-m {
  @apply h-full w-1/2 bg-gradient-to-b from-brandNavy-500 via-brandNavy-300 to-brandNavy-100;
}

.hero-section-bg-d {
  z-index: 1;
  @apply absolute h-1/2 md:relative;
}

.nav-link {
  @apply m-3 rounded-md p-1 text-lg text-gray-50
  transition-all duration-150 ease-linear hover:scale-110 hover:bg-brandDarkBlue-100 hover:bg-opacity-20;
}

.contact-section {
  @apply flex min-h-screen snap-start justify-center bg-gradient-to-b from-brandNavy-100 via-brandNavy-300 to-brandNavy-500 text-sm xs:text-base;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hover-underline-animation {
  display: list-item;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #49429f;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
