@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, Montserrat, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.video-section {
  @apply absolute z-10 min-h-full w-auto min-w-full max-w-none;
}

.hero-text-gradient {
  @apply bg-gradient-to-r
  from-brandLightPink-400 to-brandIndigo-500
  bg-clip-text p-1 font-extrabold text-transparent 2xl:p-2;
}

.hero-cta {
  @apply mt-8 flex w-full items-center
  justify-center rounded-md border border-transparent
  bg-black px-8 py-2 text-xl font-medium text-white
  no-underline transition ease-linear hover:scale-110
  hover:bg-brandDarkPink-600 md:py-4 md:px-10 md:text-xl md:leading-6;
}

.nav-link {
  @apply border-b-2 px-3 py-2 text-lg text-gray-400
  transition-all duration-150 ease-linear
  hover:border-brandLightPurple-500 hover:text-brandLightPurple-500;
}

.nav-link-active {
  @apply border-b-2 border-brandDarkPurple-500 px-3 py-2 text-lg
  text-brandDarkPurple-500
  transition-all duration-150 ease-linear hover:border-brandLightPurple-500 hover:text-brandLightPurple-500;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
